@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    background-image: url("../images/background.mp4");
    font-family: 'Oswald', sans-serif;
}

}
.section-title {
    padding-bottom: 15px;
    font-size: 50px;
}

.search {
    margin: 10px;
}

ul {
    list-style-type: none;
}

.forecast-header {
    margin: 10px;
}

#forecast-cards {
    justify-content: space-around;
    display: flex;
}

.card-content {
    margin: 30px;
}

.current-weather, .weather-input {
    margin: 5px;
}

.weather-container {
    margin: 150px auto;
    background-color: #fff;
    padding: 50px 50px;
    border-radius: 10px;
    opacity: 80%;
}

.card {
    background-color: plum;
}

.btn {
    background-color: plum;
}   
 /* This will be applied on any screen smaller than 768px */
@media screen and (max-width: 768px) {

}

/* This will be applied on any screen smaller than 575px */
@media screen and  (max-width: 575px) {
   
}
